{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_analysis.css' %}">
{% endblock %}


{% block title %}Edit Analysis{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">Edit Analysis</h2>
    <form method="post" class="analysis-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit" class="save-button">Update Analysis</button>
        </div>
    </form>
</div>
{% endblock %}
