{% extends 'wines/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<h1>Profile</h1>
<div class="profile-info">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <div class="actions">
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
        <a href="{% url 'password_change' %}">Change Password</a>

    </div>
</div>
{% endblock %}
