<!-- wines/templates/wines/vessel_form.html -->
{% extends "wines/base.html" %}

{% load static %}

{% block title %}
    {% if vessel %}
        Edit Vessel: {{ vessel.name }}
    {% else %}
        Add New Vessel
    {% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/vessel_form.css' %}">

<div class="form-container">
    <h2>
        {% if vessel %}
            Edit Vessel: {{ vessel.name }}
        {% else %}
            Add New Vessel
        {% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button type="submit">Create Vessel</button>
    </form>
    
</div>
{% endblock %}
