<!-- In wines/templates/wines/vessel_list.html -->
{% extends 'wines/base.html' %}

{% block title %}Vessels{% endblock %}

{% block content %}
<div class="vessel-container">
    <h1 class="vessel-header">Vessels</h1>
    <a href="{% url 'create_vessel' %}" class="vessel-add-link">Add New Vessel</a>
    <table class="vessel-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity (L)</th>
                <th>Material</th>
                <th>Stored Batches</th>
                <th>Type of Vessel</th> <!-- Updated column header -->
            </tr>
        </thead>
        <tbody>
            {% for vessel in vessels %}
                <tr>
                    <td><a href="{% url 'vessel_detail' vessel.id %}">{{ vessel.name }}</a></td>
                    <td>{{ vessel.capacity }}</td>
                    <td>{{ vessel.material }}</td>
                    <td>
                        {% if vessel.winebatch_set.exists %}
                            <ul>
                                {% for batch in vessel.winebatch_set.all %}
                                    <li>{{ batch.lot_name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span class="no-batch-text">No wine batches stored</span>
                        {% endif %}
                    </td>
                    <td>{{ vessel.get_type_display }}</td> <!-- This will show the type of vessel -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No vessels available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
