{% extends 'wines/base.html' %}

{% block title %}Your Wine Batches{% endblock %}

{% block content %}
<div class="wine-container">
    <h1 class="wine-header">Your Wine Batches</h1>
    
    <a href="{% url 'create_wine' %}" class="wine-add-link">Create New Wine Batch</a>

    <table class="wine-table">
        <thead>
            <tr>
                <th>Batch Name</th>
                <th>Vintage</th>
                <th>Category</th>
                <th>Variety</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for wine in wines %}
                <tr>
                    <td>{{ wine.lot_name }}</td>
                    <td>{{ wine.vintage|default:"N/A" }}</td>
                    <td>{{ wine.category }}</td>
                    <td>{{ wine.get_grape_variety_display }}</td>
                    <td>
                        <a href="{% url 'wine_detail' wine.id %}" class="view-button">View</a>
                        <a href="{% url 'edit_wine' wine.id %}" class="edit-button">Edit</a>
                        <a href="{% url 'delete_wine' wine.id %}" class="delete-button">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No wine batches available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</div>
{% endblock %}
