{% extends 'wines/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/wine_form.css' %}">

{% block title %}Add a Batch{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add a Batch</h2>
    <form id="wineForm" method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="lot_name">Lot Name:</label>
            <input type="text" id="lot_name" name="lot_name">
        </div>

        <div class="input-group">
            <label for="grape_variety">Grape Variety:</label>
            <input type="text" id="grape_variety" name="grape_variety">
        </div>

        <div class="input-group">
            <label for="volume">Volume:</label>
            <div class="volume-container">
                <input type="text" id="volume" name="volume">
                <select id="volume_unit" name="volume_unit" class="volume-unit">
                    <option value="gallons">Gallons</option>
                    <option value="liters">Liters</option>
                    <option value="tons">Tons</option>
                </select>
            </div>
        </div>

        <div class="input-group">
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="in_process">In Process</option>
                <option value="complete">Complete</option>
            </select>
        </div>

        <div class="input-group">
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="red">Red</option>
                <option value="white">White</option>
            </select>
        </div>

        <div class="input-group">
            <label for="vessel">Vessel:</label>
            <select id="vessel" name="vessel">
                <option value="tank">Tank</option>
                <option value="barrel">Barrel</option>
            </select>
        </div>

        <button type="submit" class="save-button">SAVE</button>
    </form>
</div>

{% endblock %}
