{% extends 'wines/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/wine_form.css' %}">

{% block title %}Add a Batch{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add a Batch</h2>
    <form id="wineForm" method="post">
        {% csrf_token %}

        <div class="input-group">
            <label for="id_lot_name">Lot Name:</label>
            {{ form.lot_name }}
        </div>
        <div class="input-group">
            <label for="id_vintage">Vintage:</label>
            {{ form.vintage }}
        </div>
        
        <div class="input-group">
            <label for="id_grape_variety">Grape Variety:</label>
            {{ form.grape_variety }}
        </div>

        <div class="input-group">
            <label for="id_volume">Volume:</label>
            <div class="volume-container">
                {{ form.volume }}
                <select id="volume_unit" name="volume_unit" class="volume-unit">
                    <option value="gallons">Gallons</option>
                    <option value="liters">Liters</option>
                    <option value="tons">Tons</option>
                </select>
            </div>
        </div>

        <div class="input-group">
            <label for="id_status">Status:</label>
            {{ form.status }}
        </div>

        <div class="input-group">
            <label for="id_category">Category:</label>
            {{ form.category }}
        </div>

        <div class="input-group">
            <label for="id_vessel">Vessel:</label>
            {{ form.vessel }}
        </div>

        <button type="submit" class="save-button">SAVE</button>
    </form>
</div>

{% endblock %}
